<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}AI{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/vis.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/main.css" />
    <link rel="shortcut icon" type="image/png" href="/static/favicon.jpg"/>

    <script src="/static/js/jquery.js"></script>
    <!-- <script src="/static/js/popper.js"></script> -->
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/vis.min.js"></script>
    <script src="/static/js/main.js"></script>
</head>
<body>
    {% block content %}
    <h1>Greeting, traveler!</h1>
    {% endblock %}
</body>
</html>